<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
      <style>
      canvas {
        border:1px solid #d3d3d3;
        background-color: #f1f1f1;
      }
      </style>
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   </head>
   <!--<iframe src="http://192.168.11.29:8080/" width="400" height="320"></iframe><p>-->
 <body >
        <button onclick="forward()">forward</button><br>
        <button onclick="turnright()">turnright</button><br>
        <button onclick="turnleft()">turnleft</button><br>
        <button onclick="backward()">backward</button><br>
        <button onclick="stopmotors()">stopmotors</button><br>
        <iframe src="http://192.168.11.29:8080/" height="320" width="400"></iframe> 
        <h1>Actuators</h1>
        <h3>AUTO ==> {{ auto}} ==>
            {%if auto == 1%}
                <a href="/auto/off" class ="button">TURN OFF</a>
            {%else%}
                <a href="/auto/on" class ="button">TURN ON</a>
            {%endif%}
        </h3>
	<h3>GO FORWARD ==> {{  forward  }} ==>    
            {%if forward == 1%} 
                <a href="/forward/off" class ="button" >TURN OFF</a> 
            {%else%} 
                <a href="/forward/on"  class ="button">TURN ON</a> 
            {%endif%}     
        </h3>        
         
        <h3>TURN RIGHT ==> {{  turnright  }} ==>    
            {%if turnright == 1%} 
                <a href="/turnright/off" class="button">TURN OFF</a> 
            {%else%} 
                <a href="/turnright/on"  class="button">TURN ON</a> 
            {%endif%}     
        </h3>
        <h3>TURN LEFT ==> {{  turnleft  }} ==>    
            {%if turnleft == 1%} 
                <a href="/turnleft/off" class ="button" >TURN OFF</a> 
            {%else%} 
                <a href="/turnleft/on"  class ="button">TURN ON</a> 
            {%endif%}     
        </h3>
        <h3>GO BACKWARD ==> {{  backward  }} ==>    
            {%if backward == 1%} 
                <a href="/backward/off" class ="button" >TURN OFF</a> 
            {%else%} 
                <a href="/backward/on"  class ="button">TURN ON</a> 
            {%endif%}     
        </h3>
        <h3>STOP ==> {{  stopmotors  }} ==>    
            {%if stopmotors == 1%} 
                <a href="/stopmotors/off" class ="button" >TURN OFF</a> 
            {%else%} 
                <a href="/stopmotors/on"  class ="button">TURN ON</a> 
            {%endif%}     

       </h3>
<script>
function forward(){
  $.ajax({
  url:'http://192.168.11.29:81/forward/on',
  type:'get',
  cache:false
})  
}

function turnright(){
 $.ajax({
  url:'http://192.168.11.29:81/turnright/on',
  type:'get',
  cache:false
})
}

function turnleft(){
 $.ajax({
  url:'http://192.168.11.29:81/turnleft/on',
  type:'get',
  cache:false
})
}

function backward(){
 $.ajax({
  url:'http://192.168.11.29:81/backward/on',
  type:'get',
  cache:false
})
}

function stopmotors(){
 $.ajax({
  url:'http://192.168.11.29:81/stopmotors/on',
  type:'get',
  cache:false
})
} 


  window.addEventListener('keydown', function (e) {
             var keyid =e.keyCode;
             if (keyid == 37) {turnleft()}
             if (keyid == 39) {turnright()}
             if (keyid == 38) {forward()}
             if (keyid == 40) {backward()}
             if (keyid == 35) {stopmotors()}
   })  
   </script>     
   </body>
</html>
